<nav class="relative text-white flex items-center justify-between p-4 bg-[url(/assets/ParamoBackground.webp)] bg-cover bg-center bg-no-repeat">

    <div class="absolute inset-0 bg-black/30"></div>

    <div class="relative flex w-full items-center justify-between">
        <span class="space-x-5">
            <a routerLink="/home" class="font-bold text-center">
                <h1 class="text-4xl">PÁRAMO</h1>
                <h2 class="text-sm">PRESENTA</h2>
            </a>
        </span>
        <div class="space-x-4">
            <a routerLink="/baterias" routerLinkActive="active">Baterias</a>
            <a routerLink="/canje" routerLinkActive="active">Canje</a>
            <a routerLink="/puntos" routerLinkActive="active">Puntos</a>
            <a routerLink="/mapa" routerLinkActive="active">Mapa</a>
        </div>
        <div>
            Loguo inicio
        </div>
    </div>
</nav>