<app-code-checker></app-code-checker>

<link rel="stylesheet" href="../pagina2.css">

<header>
    <h1>Ecopoints</h1>
    <p class="subtitulo">¡Recicla, gana puntos y canjea recompensas! ♻💚</p>
</header>

<main>
    <section class="introduccion">
        <h2>Únete a Ecopoints</h2>
        <p>Ayuda al planeta mientras obtienes increíbles beneficios.</p>
    </section>

    <section class="como-funciona">
        <h2>¿Cómo funciona?</h2>
        <ul>
            <li> ♻ Recoge y recicla desechos.</li>
            <li> 🎁 Acumula puntos por cada residuo.</li>
            <li> ✨ Canjea tus puntos por recompensas.</li>
        </ul>
    </section>

    <section class="sistema-puntos">
        <h2>¡Suma puntos y gana recompensas!</h2>
        <p>Cada tipo de residuo tiene un valor en puntos. ¡Cuanto más recicles, más recompensas obtendrás!</p>
    </section>

    <section class="detalle-puntos">
        <h3>Tipos de residuos y puntos</h3>


        <ul> 
            <li><strong>🔹 Vidrio:</strong> 30 puntos</li>
            <li><strong>🔹 Plásticos y Latas:</strong> 25 puntos</li>
            <li><strong>🔹 Papel y Cartón:</strong> 20 puntos</li>
            <li><strong>🔹 Orgánicos:</strong> 15 puntos</li>
            <li><strong>🔹 Especiales:</strong> 10 puntos</li>
            <li><strong>🔹 No Reciclables:</strong> 5 puntos</li>
        </ul>
    </section>

    <section class="motivacion">
            
      <p> " Cada pequeña cosa que haces realmente importa, y ayuda a construir el mundo en el que quieres vivir 🌍 "</p>
      <div class="texto2">
          <p><i>Wangari Maathai</i></p>

      </div>
  </section>
</main>

<footer>
    <p>&copy; 2025 Ecopoints. Todos los derechos reservados.</p>
</footer>
