<footer class="bg-white text-black py-6 border-t-2 border-black">
    <div class="mx-20">

        <!-- Contenedor principal en fila -->
        <div class="container mx-auto flex md:flex-row justify-between items-center text-center md:text-left">

            <!-- Logo y título -->
            <div class="items-center text-center gap-4">
                <h1 class="text-2xl font-bold">PÁRAMO</h1>
                <h4 class="text-lg">PRESENTA</h4>
            </div>
    
            <!-- Información y PQRS -->
            <div>
                <h3 class="text-xl font-semibold text-center">Información y PQRS</h3>
                <p class="text-sm">
                    Email: <a href="mailto:info@paramopresenta.com" class="font-bold hover:underline">
                        info&#64;paramopresenta.com
                    </a>
                </p>
                <p class="text-sm">
                    Email: <a href="mailto:pqr@paramopresenta.com" class="font-bold hover:underline">
                        pqr&#64;paramopresenta.com
                    </a>
                </p>
            </div>
    
            <!-- Redes Sociales -->
            <div>
                <h3 class="text-xl font-semibold text-center">Redes Sociales</h3>
                <ul class="flex justify-center md:justify-start gap-6 mt-3">
                    <li>
                        <a href="https://www.facebook.com/share/1BbcRS3LeB/?mibextid=wwXIfr" target="_blank"
                            class="flex items-center gap-2">
                            <img src="assets/facebookLogo.svg" class="w-5 h-5">
                            <span class="font-bold hover:underline">Facebook</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://www.instagram.com/paramopresenta?igsh=ZG9mM3FzZW41YmE3" target="_blank"
                            class="flex items-center gap-2">
                            <img src="assets/instagramLogo.svg" class="w-5 h-5">
                            <span class="font-bold hover:underline">Instagram</span>
                        </a>
                    </li>
                    <li>
                        <a href="https://youtube.com/@conciertost310?si=OhW5z9wmp4Qo10CN" target="_blank"
                            class="flex items-center gap-2">
                            <img src="assets/youtubeLogo.svg" class="w-5 h-5">
                            <span class="font-bold hover:underline">YouTube</span>
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>